<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="template">
        <form v-on:submit.prevent="Register">
            Username:
            <input type="text" v-model="username" placeholder="Your username">
            <br>
            First name:
            <input type="text" v-model="first_name" placeholder="Your first name">
            <br>
            Last name:
            <input type="text" v-model="last_name" placeholder="Your last name">
            <br>
            Country:
            <input type="text" v-model="country" placeholder="country">
            <br> 
            Password:
            <input type="password" v-model="password" placeholder="password">
            <br> 
            Password Confirmation:
            <input type="password" v-model="confirmation_password" placeholder="password confirm">
            <br>
            Email:
            <input type="eamil" v-model="email" placeholder="e-mail">
            <br>
            <input type="submit">
          </form>
      <div v-for="error in errors">{{error}}</div>
      <!-- {{errors}} -->
    </div>
</body>

</html>

<script>
    var vm = new Vue({
        el: "#template",
        data() {
            return {
                username: "",
                first_name: "",
                last_name: "",
                country: "",
                password: "",
                confirmation_password: "",
                email: "",
                errors: [],
                submitted: false,
                response:"",
            }
        },

        methods:
        {
            handleRegister() {
                this.errors = [];//initial for every register
                this.submitted = false;//initial for every register
                if(this.username.length<3 || thisuser.username.length>8){
                    this.errors.push("username too short or too long");
                }
                if(this.first_name.length<3 || this.first_name.length>8){
                    this.errors.push("first name too short or too long");
                }
                // no errors
                if(this.errors.length==0){
                    this.submitted=true;
                }
            },
            async Register() {
                try{
                const response = await axios.post("http://localhost:80/Register",
                { 
                    username: this.username,
                    firstname: this.first_name,
                    lastname: this.last_name,
                    country: this.country,
                    password: this.password,
                    email: this.email,
                }
                );
                console.log(response);
                this.response = response.data.message;
                this.submitted = response.data.success;
                } catch(err){
                    this.submitted = false;
                    this.username = "";
                }
            }
        }

    });
</script>

<style>

</style>